{% extends "layout.html.twig" %}

{% block content %}

Your name is : {{ name }}, well done!! <br /><br />
Use this <a href="{{ app.path('help') }}">link</a> to see some usefull functions.

{% endblock %}
